body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-item {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.ErrorPage__errorContainer__ {
  text-align: center;
}
.ErrorPage__errorContainer__.h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media (min-width: 736px) {
  .profile-photo {
    float: left;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }
}

@media (min-width: 0px) and (max-width: 735px) {
  .profile-photo {
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gallery-container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
  justify-content: center;
}

@media (min-width: 1200px) {
  .gallery-item {
    position: relative;
    margin: 1rem;
    list-style: none;
  }
}

@media (min-width: 0px) and (max-width: 1199px) {
  .gallery-item {
    position: relative;
    margin: 0.2rem;
    list-style: none;
  }
}

.gallery-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
}
.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}
.container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.follow-button {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  align-items: flex-start;
  text-align: center;
  margin-left: 21px;
}

.unfollow-button {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  align-items: flex-start;
  text-align: center;
  margin-left: 21px;
}

@media (min-width: 1200px) {
  .feed-item {
    position: relative;
    margin: 1rem;
    list-style: none;
  }
}

@media (min-width: 0px) and (max-width: 1199px) {
  .feed-item {
    position: relative;
    margin: 0.2rem;
    list-style: none;
  }
}

.feed-image {
  width: 614px;
  object-fit: cover;
}

.feed-container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.feed {
  display: grid;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
  justify-content: center;
}
